@font-face {
font-family: 'pretendard';
font-weight: 300;
src: url('../fonts/Pretendard-Light.otf') format('opentype');
}

@font-face {
font-family: 'pretendard';
font-weight: 400;
src: url('../fonts/Pretendard-Regular.otf') format('opentype');
}

@font-face {
font-family: 'pretendard';
font-weight: 500;
src: url('../fonts/Pretendard-Medium.otf') format('opentype');
}

@font-face {
font-family: 'pretendard';
font-weight: 700;
src: url('../fonts/Pretendard-Bold.otf') format('opentype');
}

@font-face {
font-family: 'Ampersand';
font-style: normal;
font-weight: 400;
src: url('../fonts/FHAmpersandDisplayTest-Regular.otf') format('opentype');
}

@font-face {
font-family: 'Ogg';
font-style: normal;
font-weight: 400;
src: url('../fonts/Ogg-Regular.otf') format('opentype');
}

@font-face {
font-family: 'Ogg';
font-style: italic;
font-weight: 400;
src: url('../fonts/Ogg-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Pinyon_Script';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/PinyonScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'voyage';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/voyage-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Ogg-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Ogg-Book';
    font-style: normal;
    font-weight: 450;
    src: url('../fonts/OggText-Book.otf') format('opentype');
}

@font-face {
font-family: 'Ampersand';
font-style: italic;
font-weight: normal;
src: url('../fonts/FHAmpersandDisplayTest-RegularItalic.otf') format('opentype');
}
